
@{
    ViewBag.Title = "Cadastro";
}

<h3>Cadastro de Clientes</h3>
<div class="row">
    <a href="/cliente/index" class="btn btn-primary float-left mb-3 ">
        Lista de Clientes
    </a>
</div>
<div class="row">
    <form action="/cliente/store" method="post">
        <div>
            <label for="campo-nome" class="col-12 pl-0 text-md">Nome</label>
            <input type="text" class="col-12" name="nome" id="campo-nome" />
        </div>

        <div>
            <label for="campo-cpf" class="col-12 pl-0 text-md">CPF</label>
            <input type="text" name="cpf" class="col-12" id="campo-cpf" />
        </div>

        <div>
            <label for="campo-dataNascimento" class="col-12 pl-0 text-md">Data de Nascimento</label>
            <input type="date" name="dataNascimento"  class="col-12" id="campo-dataNascimento"/>
        </div>

        <div>
            <label for="campo-numero" class="col-12 pl-0 text-md">Número</label>
            <input type="text" name="numero"  class="col-12" id="campo-numero"/>
        </div>

        <div>
            <label for="campo-complemento" class="col-12 pl-0 text-md">Complemento</label>
            <input type="text" name="complemento"  class="col-12" id="campo-complemento"/>
        </div>

        <div>
            <label for="campo-logradouro" class="col-12 pl-0 text-md">Logradouro</label>
            <input type="text" name="logradouro"  class="col-12" id="campo-logradouro"/>
        </div>

        <div>
            <label for="campo-cep" class="col-12 pl-0 text-md">CEP</label>
            <input type="text" name="cep"  class="col-12" id="campo-cep"/>
        </div>

        <label form="campo-cidade">Cidade</label>
        <select class="form-control" name="cidade">
            <option disabled="disabled" value="" selected="selected">Selecione uma cidade</option>
            @foreach (Model.Cidade cidade in ViewBag.Cidades)
            {
                <option value="@cidade.Id">@cidade.Nome</option>
            }
        </select>

        <button class="btn btn-success mb-3" type="submit">Salvar</button>
    </form>
</div>


